.pageControlls {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 30px;
    width: 100%;
    position: relative;
}

.pageControlls_button {
    font-size: 16px;
    padding: 5px 15px;
    width: 110px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pageControlls__button_toFirst {
    position: absolute;
    left: 0;
}

.pageControlls_button:hover:nth-child(0) {
    color: #be4787;
    fill: #be4787;
}

.pageControlls_icon {
    fill: white;
}

@media only screen and (max-width: 768px) {
    .pageControlls_button {
        font-size: 16px;
        padding: 5px 15px;
        width: 80px;
        height: 40px;
        gap: 10px;
    }
}

@media only screen and (max-width: 460px) {
    .pageControlls {
        justify-content: flex-end;
    }
}
