.backButton {
    width: 200px;
    height: 50px;
    font-size: 18px;
}

.backButton__wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 50px 0px;
}

@media only screen and (max-width: 768px) {
    .backButton {
        width: 100px;
    }
}
