.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr 100px 1fr;
    background-color: #80808060;
    border: solid 4px #00000050;
    padding: 10px 20px;
}

.game__name {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    font-size: 40px;
    align-self: center;
    justify-self: center;
}

.game__rating {
    grid-column: 1 /2;
    grid-row: 4 / 5;
    font-size: 25px;
}

.game__date {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
    font-size: 25px;
}

.game__img {
    grid-column: 1 / 5;
    grid-row: 2 / 4;
    max-width: 100%;
}

.game__description {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    font-size: 25px;
    text-align: center;
}
