.search__list {
    position: absolute;
    height: fit-content;
    width: 40%;
    transition: 100ms;
    background-color: grey;
    border: solid 3px #00000080;
    padding: 20px 30px;
    opacity: 1;
    z-index: 3;
}

.search__list_hidden {
    opacity: 0;
}

.search__item {
    position: relative;
    border: solid #00000090 2px;
    padding: 5px 10px;
    margin: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 100ms;
}

.search__img {
    max-height: 80px;
}
