.search {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    width: 83%;
}

.search__button {
    padding: 10px 10px;
    position: absolute;
    background: none;
    border: none;
    right: 10px;
    top: 23px;
}

.search__icon {
    fill: white;
    transition: 300ms;
}
.search__icon:hover {
    fill: #be4787;
}
